<html>
<head>
  <title>Pathogen Informatics Repos</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row page-header">
      <div class="col-md-4">
	  <img alt="Wellcome Trust Sanger Institute Logo" width=300 src="assets/img/logo.png">
	</div>
	<div class="col-md-8">
	  <h2 class="media-heading">Wellcome Trust Sanger Institute<br>Pathogen Informatics</h2>
	  <p>A list of our favorite repos from <a href="https://www.github.com/{{ organisation_name }}">Pathogen Informatics</a></p>
	</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Featured Repos</h2>
      </div>
    </div>
    <div id="featured_repos" class="row">
      {% for repo in featured_repos[:3] %}
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><a href="{{ repo['homepage'] or repo['html_url'] }}"><h4>{{ repo['name'] }}</h4></a></div>
	  <div class="panel-body">{{ repo['description'] }}</div>
	  <div class="panel-footer">
	    Last Updated: <span class='date'>{{ repo['pushed_at'] }}</span>
	    {% if repo['release_version'] %}
	    <br>Latest Release: {{ repo['release_version'] }}
	    {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Other Repos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="other_repos" class="table">
          <thead>
            <th>Repository</th>
            <th>Description</th>
	    <th>Score</th>
          </thead>
          <tbody>
          {% for repo in (featured_repos[3:] + other_repos) %}
            <tr>
              <td><a href="{{ repo['homepage'] or repo['html_url'] }}">{{ repo['name'] }}</a></td>
              <td>{{ repo['description'] }}</td>
	      <td>{{ repo['moderated_score'] | round(3) }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Data collected: <span class='date'>{{collected_at}}</span></p>
      </div>
    </div>
    <script>
      $(document).ready(function() {
	function timeDeltaString (millis) {
          var seconds = millis / 1000;
	  if (seconds < 120) {
            return Math.round(seconds) + ' seconds ago';
	  }
	  var minutes = seconds / 60;
	  if (minutes < 120) {
            return Math.round(minutes) + ' minutes ago';
	  }
	  var hours = minutes / 60;
	  if (hours < 48) {
            return Math.round(hours) + ' hours ago';
	  }
	  var days = hours / 24;
	  if (days < 28) {
            return Math.round(days) + ' days ago';
	  }
	  var weeks = days / 7;
	  if (weeks < 12) {
            return Math.round(weeks) + ' weeks ago';
	  }
	  var months = weeks / 4;
	  return Math.round(months) + ' months ago';
        }
        var now = new Date();
        $( "span.date" ).each(function() {
          var date_string = this.textContent;
	  var date_obj = new Date(date_string);
          this.textContent = timeDeltaString(now - date_obj);
	});
	$('#other_repos').DataTable({
	  "order": [[ 2, "desc" ]]
	});
      });
    </script>
  </div>
</body>
